/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	line-height:1.2em;
}

.container {
	width:100%;
	margin:0 auto;
	padding:15px;
}

a {color:rgb(0,94,162)}

header {
	display: flex;
	margin: 20px 0 0 0;
}

header img {
	margin:10px 0 0 5px;
	position: absolute;
}

header h1 {
	color:#FFF;
	font-size: 3em;
	margin:20px 0 15px 120px;
	line-height:1em;
}

/* Navigatiion */

#navigation {
	margin-top:70px;
  }
nav {
	border: 2px solid rgb(0,94,162);
	background: rgb(246,246,246);
	padding:10px;
}

nav li {
	list-style-type: none;
}

nav ul li ul > li {
	margin-left:20px;
}
header {
	background: rgb(0,94,162);
}

h2 {
	font-size: 2em;
	margin:40px 0 15px 0;
	padding: 0 0 5px 0;
}

nav li a[hreflang]:before {
	content: ' ';
	display: inline-block;
	background-size: 12px 12px;
	width:12px;
	height:12px;
	margin:0 5px 0 0;
}
nav li a[hreflang="en"]:before {
	background-image: url('../images/flag-en.svg');
}
nav li a[hreflang="fr"]:before {
	background-image: url('../images/flag-fr.svg');
}
nav li a[hreflang="it"]:before {
	background-image: url('../images/flag-it.svg');
}

/*
	Add Numbers Before h2 Titles
*/

#taschenrechner, #demo, #cas, #variation, #gewinn, #tricks, #worst, #model {
	border-bottom: 2px solid black;
}

#taschenrechner:before {
	content: '1 ';
}
#demo::before {
	content: '2 ';
}
#cas:before {
	content: '3 ';
}
#variation:before {
	content: '4 ';
}
#gewinn:before {
	content: '5 ';
}
#tricks:before {
	content: '6 ';
}
#worst:before {
	content: '7 ';
}
#model:before {
	content: '8 ';
}

footer {
	border: 1px dashed #000;
	padding: 5px;
}

/* images */
.history {
	display: inline-block ;
	width:69%;
}
figure {
	display: inline-block ;
	width:30%;
	min-height: 150px;
	vertical-align: top;
}
figure figcaption {
	font-size:0.7em;
	color:gray;
}
figure img {
	width:100%;
}

/* text */

p {
	margin: 15px 0;
}

/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}


/* Footer */

.footer {
	padding:10px;
	color:#FFF;
	background: rgb(0,94,162);
}

.footer a {
	text-decoration: underline;
	color:#fff;
}
