h2(id="navigation") Navigation
nav
  ul
    li
      a(href="/de/") Hauptseite
    li
      a(href="/de/topics/") Themenportale
    li Mitmachen
      ul
        li
          a(href="/de/join/enhance-article/calculator") Artikel verbessern
        li
          a(href="/de/join/create-article") Neuen Artikel anlegen
        li
          a(href="/de/join/author-portal") Autorenportal
        li
          a(href="/de/join/help") Hilfe
        li
          a(href="/de/join/last-changes/calculator") Letzte Änderungen
        li
          a(href="/de/join/contact") Kontakt
        li
          a(href="/de/join/donate") Spenden
    li Werkzeuge
      ul
        li
          a(href="/de/calculator/tools/links-to-this-page") Links auf diese Seite
        li
          a(href="/de/calculator/tools/linked-changes") Änderungen an verlinkten Seiten
        li
          a(href="/de/calculator/tools/permanent-link") Permanenter Link
        li
          a(href="/de/calculator/tools/cite-article") Artikel zitieren
    li In andern Sprachen
      ul
        li
          a(href="/it/articles/calculator",hreflang="it") Italiano
        li
          a(href="/fr/articles/calculator",hreflang="fr") Francais
        li
          a(href="/en/articles/calculator",hreflang="en") English
