article {
	font-size: 1em;
	box-shadow: 0 0 1em silver;
	padding: 0.5em;
}
article+article {
	margin-top: 0.5rem;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
}

article > header, article > footer {
	background: lightblue;
	padding: 0.5em;
	margin-left: -0.5em;
	margin-right: -0.5em;
}
article > header {
	margin: -0.5em -0.5em 0 -0.5em;
}
article > footer {
	margin: 0 calc(-0.5em / 0.75) calc(-0.5em / 0.75) calc(-0.5em / 0.75);
	font-size: 0.75em;
}
footer > small, footer > time {
	font-size: 1em;
}

article > p {
	margin: 0.5em 0;
}
.author, time {
	font-weight: bold;
}
