article
  header
    h2  iPhone calculator tricks
  div(class="video")
    iframe(class="tricks",src="https://www.youtube.com/embed/a7rcVgb41-0",onload="this.style.height=this.contentDocument.body.scrollHeight +'px';")
  p iPhone Calculator Tricks  on YouTube:
    a(href="https://www.youtube.com/watch?v=a7rcVgb41-0") youtube.com/watch?v=a7rcVgb41-0
  footer
    small Zuletzt geändert von Paul Sarner
    time(datetime="2016-02-10 18:38") Donnerstag, 10. Februar 2016, 18:38
