section(class="footer")
  address Bahnhofstrasse 42, 8000 Zürich
  p
    a(href="tel:0554443322") 055 444 33 22
    span &nbsp;
    a(href="mailto:info@wikipraktika.com") info@wikipraktika.com
  small Alle Inhalte von Wikipraktika stehen unter der 
    a(href="http://creativecommons.org/licenses/by-sa/4.0/")
      img(src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png",alt="Creative Commons")
    a(href="http://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Attribution-ShareAlike 4.0 International License
    |  und dürfen nur mit Nennung des Autors weiterverwendet werden.
