form(id="font-size-form")
  label(for="font-slider") Schriftgrösse
  input(type="range",min="8",max="20",step="1",value="10",title="1",name="font-slider",id="font-slider")
  output(name="font-size",id="font-size") 1
