section(class="varianten")
  h2(id="variation") Taschenrechnervarianten
  h3 Einfach
  ul
    li Grundrechenarten, Prozentrechnung
  h3 Finanzwirtschaft
  ul
    li Zinsrechnung, …
    li zum Beispiel der „Klassiker“ HP-12C (hergestellt seit 1981), HP 17 B (II) (hergestellt seit 1988
  h3 Boolesche Rechnungen
  ul
    li Rechnen mit Dual-, Oktal- und Hexadezimalzahlen, z. B. TI Programmer)
  h3 Wissenschaftlich
  ul
    li Winkelfunktionen, Logarithmus, mathematische Statistik, …
    li zum Beispiel TI-30 (seit 1976 dieselbe Typbezeichnung für intern völlig unterschiedliche Geräte
  h3 Programmierbarer Taschenrechner
  h3 Grafikfähiger Taschenrechner
  ul
    li Funktions-/Kurvendarstellung
    li ab 1985 Geräte von Casio (fx-Serie, aktuelles Modell fx 9860G SD)
    li 1989 bis heute die HP-48-49-Reihe
    li ab 1993 der TI-82 und seine Nachfolger
    li aktuell der TI-84 Plus und TI-Nspire
    li Grafikrechner sind typischerweise auch programmierbar.
  h3 Computeralgebra-Rechner
  ul
    li grafikfähige Taschenrechner mit eingebautem Computeralgebra-Kern
    li erstes verbreitetes Gerät war der HP-48 von Hewlett-Packard (ab 1989),
      | spätere Geräte zum Beispiel TI-92(+) (ab 1995), TI-89 (ab
      | 1998) und Voyage 200 (ab 2002), TI-Nspire CAS (ab 2007)
      | von Texas Instruments, ClassPad 300 von Casio, HP 49g+ 
      | von Hewlett-Packard.
    
  p Taschenrechnervarianten, Source Wikipedia: 
    a(href="https://de.wikipedia.org/wiki/Taschenrechner") de.wikipedia.org/wiki/Taschenrechner
  footer
    small Zuletzt geändert von Gabriela Kant
    time(datetime="2016-02-11 10:09") Donnerstag, 11. Februar 2016, 10:09
