article
  header
    h2  Taschenrechnervarianten
  dl 
  dt Einfach
  dd Grundrechenarten, Prozentrechnung
  dt Finanzwirtschaft
  dd Zinsrechnung, …
  dd zum Beispiel der „Klassiker“ HP-12C (hergestellt seit 1981), HP 17 B (II) (hergestellt seit 1988
  dt Boolesche Rechnungen
  dd Rechnen mit Dual-, Oktal- und Hexadezimalzahlen, z. B. TI Programmer)
  dt Wissenschaftlich
  dt
  dd Winkelfunktionen, Logarithmus, mathematische Statistik, …
  dd zum Beispiel TI-30 (seit 1976 dieselbe Typbezeichnung für intern völlig unterschiedliche Geräte
  dt Programmierbarer Taschenrechner
  dt Grafikfähiger Taschenrechner
  dd Funktions-/Kurvendarstellung
  dd ab 1985 Geräte von Casio (fx-Serie, aktuelles Modell fx 9860G SD)
  dd 1989 bis heute die HP-48-49-Reihe
  dd ab 1993 der TI-82 und seine Nachfolger
  dd aktuell der TI-84 Plus und TI-Nspire
  dd Grafikrechner sind typischerweise auch programmierbar.
  dt Computeralgebra-Rechner
  dd grafikfähige Taschenrechner mit eingebautem Computeralgebra-Kern
  dd erstes verbreitetes Gerät war der HP-48 von Hewlett-Packard (ab 1989),
    | spätere Geräte zum Beispiel TI-92(+) (ab 1995), TI-89 (ab
    | 1998) und Voyage 200 (ab 2002), TI-Nspire CAS (ab 2007)
    | von Texas Instruments, ClassPad 300 von Casio, HP 49g+ 
    | von Hewlett-Packard.
    
  p 
    small Taschenrechnervarianten, Source Wikipedia: 
      a(href="https://de.wikipedia.org/wiki/Taschenrechner") de.wikipedia.org/wiki/Taschenrechner
  footer
    small Zuletzt geändert von Gabriela Kant
    time(datetime="2016-02-11 10:09") Donnerstag, 11. Februar 2016, 10:09
