article
  header
    h2  Zeitgewinn
  p Zeitgewinn durch Benutzung eines Taschenrechners
  table(class="zeitgewinn")
    thead
      tr
        th
        th 2-Stellen
        th 3-Stellen
        th 4-Stellen
    tbody
      tr
        th Addition / Subtraktion
        td 4
        td 8
        td 20
      tr
        th Multiplikation
        td(rowspan="2") 15
        td(rowspan="2") 45
        td 240
      tr
        th Division
        td 210
      tr
        th Modulo
        td 5
        td 20
        td 65
      tr
        th Quersumme
        td(colspan="2") 1
        td 2
      tr
        th Wurzelziehen
        td(colspan="3") Kaum machbar von Hand
      tr
        th Potenzieren
        td 25
        td 75
        td 550
  object(data="assets/images/zeitgewinn.svg",type="image/svg+xml")
  footer
    small Zuletzt geändert von Leandra Gross
    time(datetime="2016-02-29 13:02") Freitag, 29. Februar 2016, 13:02
