head
  meta(charset="UTF-8")
  title Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine
  meta(name="Author",content="Wikipraktika")
  meta(name="Publisher",content="Wikipraktika")
  meta(name="Description" content="Taschenrechner - tragbare, handliche elektronische Rechenmaschine")
  link(rel="icon",type="image/png",href="assets/images/icon-wikipraktika.png")
  link(rel="stylesheet",type="text/css",href="assets/css/styles.css")
