h2(id="model") Taschenrechner suchen nach Modell
section
  form
    datalist(id="search-suggestions")
      option(value="Mexico Instrument TI 30") Mexico Instrument TI 30
      option(value="Mexico Instrument TI 32") Mexico Instrument TI 32
      option(value="Mexico Instrument D*D") Mexico Instrument D*D
      option(value="Casino UX5") Casino UX5
      option(value="Casino TZZ") Casino TZZ
      option(value="Casino Basic") Casino Basic
      option(value="HG Calc++") HG Calc++
      option(value="HG Productive") HG Productive
      option(value="HG GO-ON") HG GO-ON
    input(type="search",name="search-term",list="search-suggestions",id="search-term",aria-label="search term")
    button(type="submit")
      img(src="assets/images/icon-search.svg", alt="search icon")
      
      
