h2(id="cas") Bedienung des TI-Nspire CX CAS
figure
  video(controls,role="application",poster="assets/images/ti-nspire-cx-cas.png")
    source(src="assets/TI-Nspire_CX_CAS_3D_Model.mp4",type="video/mp4")
    source(src="assets/TI-Nspire_CX_CAS_3D_Model.webm",type="video/webm")
    track(src="assets/ti-nspire-subtitles.en.vtt",kind="subtitles",srclang="en",label="Untertitel English",default)
  figcaption TI-Nspire CX CAS Demonstration
  
p Von TheConnerdy,
  a(href="http://creativecommons.org/licenses/by-sa/3.0") CC BY-SA 3.0
  a(href="https://www.youtube.com/watch?v=6gKkz4VkSgk") via Youtube
  
footer
    small Zuletzt geändert von Philipp Graf
    time(datetime="2016-02-11 12:45") Donnerstag, 11. Februar 2016, 12:45
