h2 Taschenrechner
h2(id="taschenrechner") Taschenrechner
p Ein Taschenrechner ist eine tragbare, handliche elektronische Rechenmaschine, mit deren Hilfe numerische Berechnungen 
  | ausgeführt werden können. Einige neuere technisch-wissenschaftliche Taschenrechner beherrschen auch symbolische 
  | Mathematik mittels eines Computeralgebrasystems (CAS), können also etwa Gleichungen umstellen oder lösen.
p Praktisch alle heutigen Taschenrechner verwenden elektronische Integrierte Schaltungen und LC-Displays als Anzeige 
  | und werden von einer Batterie oder Solarzelle mit Strom versorgt.
figure(class="calculator")
  img(src="assets/images/900px-SCM_Marchant_calculator.jpg",alt="1960s SCM Marchant calculator")
  figcaption By 
      a(href="commons.wikimedia.org/wiki/User:Bilby") Bilby 
      | - Own work, 
      a(href="http://creativecommons.org/licenses/by/3.0") CC BY 3.0 ()
      | , https://commons.wikimedia.org/w/index.php?curid=10980797
section
  h3 Geschichte
  p Bereits vor der Einführung der elektronischen Taschenrechner gab es einen Bedarf nachtragbaren Rechenhilfen. 
    | Dieser wurde mit mechanischen Taschenrechnern und Rechenschiebern befriedigt. 
    | Meist handelte es sich dabei um einfache Addiermaschinen. Auch Vier-Spezies-Maschinen – also Rechenmaschinen, die Addition, Subtraktion, 
    | Multiplikation und Division beherrschten – gab es in taschentauglicher Größe. Bekanntestes Beispiel ist die Curta.
  p Vorläufer der elektronischen Taschenrechner waren elektronische Tischrechner, bei denen der Integrationsgrad 
   | der Schaltungstechnik noch geringer war und die deshalb größere Dimensionen aufwiesen.
  p Der erste elektronische, tatsächlich handflächengroße Taschenrechner wurde 1967 von Texas Instruments entwickelt.[1] 
   | Ein 1,5 kg schwerer Prototyp dieses ersten Taschenrechners ist
   | heute in der Smithsonian Institution ausgestellt. Auch dieser lief schon mit Batterien,
   | frühere Rechner benötigten einen Stromanschluss.
   | Die ersten kommerziell vertriebenen Taschenrechner wurden 1969
   | und 1970 von den japanischen Firmen Compucorp,
   | Sanyo, Sharp und Canon hergestellt.
   | Intel entwickelte für die japanische Firma Busicom einen der ersten Mikroprozessoren,
   | den Intel 4004, der 1971 auf den Markt kam und in dem Modell
   | Busicom 141-PF verwendet wurde.
   | Als erster Taschenrechner, der mit einem Verkaufspreis von 10.000 Yen für die breite Masse erschwinglich war,
   | gilt der 1972 veröffentlichte Casio Mini.[2] 1972 brachte Texas
   | Instruments den Taschenrechner SR 10 mit dem eigenen Mikroprozessor TMS1000 heraus.
   | Diese Taschenrechner verfügten über wenig mehr als die vier Grundrechenarten.
   | 1971 stellte Bowmar den ersten in den USA erhältlichen
   | Taschenrechner her (Bowmar 901B/„Bowmar Brain“, Maße: 131 mm ×77 mm × 37 mm).
   | Er hatte vier Funktionen und ein achtstelliges rotes LED-Display. Verkauft wurde er für 240 US$. Bowmar musste 1976 schließen.
p 1972 erschien mit dem HP-35 von Hewlett-Packard der erste technisch-wissenschaftliche
  | Taschenrechner mit trigonometrischen, logarithmischen und Exponentialrechnungs-Funktionen. Er
  | wurde ein Verkaufserfolg und leitete das Ende der damals noch weit verbreiteten Rechenschieber ein.
  | Einer seiner Entwickler war Steve Wozniak, der wenige Jahre später das Unternehmen Apple mitgründete
  | und als Computer-Ingenieur die Entwicklung des Personal Computer maßgeblich beeinflusste.
p Vor allem Hewlett Packard und Texas Instruments entwickelten ab 1974 auch programmierbare Taschenrechner.
h3 Nummerische Genauigkeit
p  Auch wenn heutige Taschenrechner im Regelfall kaum Programmfehler bei einfachen Berechnungen
  | aufweisen, lassen sich zwischen verschiedenen Taschenrechnermodellen unterschiedliche
  | Genauigkeiten und Auflösungen bei numerischen Berechnungen bestimmen.
  | Die Gründe liegen in den numerischen Näherungsverfahren (beispielsweise Horner-Schema und CORDIC),
  | mit denen beispielsweise transzendente Funktionen wie die Sinus-Funktion berechnet werden.
  | Genauer gesagt kommt es auf die Anzahl der abgespeicherten Koeffizienten für die Funktionsapproximationen an:
  | der dafür benötigte Speicherplatz war vor allem in der Anfangszeit ein extremer Engpass.
  | Diese kleinen Unterschiede in den Verfahren und unterschiedliche Genauigkeiten lassen sich auch
  | als Erkennungsmerkmal für eine bestimmte Firmware verwenden.
p Beispielsweise liefert die numerische Berechnung von sin (22) in Radiant auf verschiedenen
  | Taschenrechnern voneinander abweichende Ergebnisse.
p Source Wikipedia: 
  a(href="https://de.wikipedia.org/wiki/Taschenrechner") de.wikipedia.org/wiki/Taschenrechner
