h2(id="worst") Die besten und schlechtesten Taschenrechner
p In einer 2014 durchgeführten Benutzerbefragung schnitten die Modelle von Casino am Besten ab:
ol
  li Casino UX5
  li Casino TZZ
  li Casino Basic
p Am schlechtesten schnitten die Geräte von HG ab:
ol
  li HG Productive
  li HG Calc++
  li HG GO-ON
footer
  small Zuletzt geändert von Petra Summer
  time(datetime="2016-02-11 14:13") Donnerstag, 11. Februar 2016, 14:13
