doctype html
html(lang="de")
  include ./includes/1_head.jade
  body
    section(class="container")
      //Header Logo + Title
      include ./includes/2_header.jade
      //Navigation
      include ./includes/3_navigation.jade
      main
        include ./includes/4_font-slider.jade
        //Taschenrechner Beschreibung
        include ./includes/5_taschenrechner.jade
        //Demonstration
        include ./includes/6_demonstration.jade
        //Bedienung des TI-Nspire CX CAS
        include ./includes/7_nspire.jade
        //Taschenrechnervarianten
        include ./includes/8_varianten.jade
        //Zeitgewinn
        include ./includes/9_gewinn.jade
        //iPhone calculator tricks
        include ./includes/10_tricks.jade
        //Die besten und schlechtesten Taschenrechner
        include ./includes/11_worst.jade
        //Taschenrechner suchen nach Modell
        include ./includes/12_modell.jade
        //Neuen Autor registrieren
        include ./includes/13_register.jade
        //Footer
        include ./includes/14_footer.jade
