doctype html
html(lang="en")
  include ./includes/head.jade
  body
    section(class="container")
      //Header Logo + Title
      include ./includes/header.jade
      //Navigation
      include ./includes/navigation.jade
      main
        include ./includes/font-slider.jade
        //Taschenrechner Beschreibung
        include ./includes/taschenrechner.jade
        //Demonstration
        include ./includes/demonstration.jade
        //Bedienung des TI-Nspire CX CAS
        include ./includes/nspire.jade
        //Taschenrechnervarianten
        include ./includes/varianten.jade
